*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata

gradle.properties
shared/src/commonMain/resources/iaq_data.csv

shared/src/androidMain/resources/iaq_data.csv
